<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">
    
    <display-name>Online Quiz Application</display-name>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Servlets Configuration -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>quiz.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>quiz.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>quiz.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>quiz.servlet.QuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/quiz</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ScoreServlet</servlet-name>
        <servlet-class>quiz.servlet.ScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScoreServlet</servlet-name>
        <url-pattern>/score</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>quiz.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- Security Constraints -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Resources</web-resource-name>
            <url-pattern>/dashboard</url-pattern>
            <url-pattern>/quiz</url-pattern>
            <url-pattern>/score</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>teacher</role-name>
        </auth-constraint>
    </security-constraint>
    
    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>